mat-card {
  margin: 1em auto;
  max-width: 30em;
}

.title-subtitle-card mat-card-subtitle {
  margin-bottom: 0px;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.title-only-card mat-icon.mat-card-avatar {
  width: 40px;
  height: 20px;
  font-size: 20px;
}

.title-only-card mat-card-title {
  margin-bottom: 0px;
}
